[buildout]

extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone52.cfg

extensions = buildout.requirements
dump-requirements-file = requirements.txt
overwrite-requirements-file = true

[versions]
plone.testing = 7.0.1

# Added by buildout at 2020-04-16 10:38:59.553142
createcoverage = 1.5
isort = 4.3.21
pathtools = 0.1.2
prompt-toolkit = 1.0.18
watchdog = 0.10.2
zest.pocompile = 1.5.0
zipp = 1.2.0

# Required by:
# Products.CMFPlacefulWorkflow==2.0.0
# Products.CMFPlone==5.2.1
# plone.api==1.10.0
# plone.app.caching==2.0.3
# plone.app.dexterity==2.6.4
# plone.app.robotframework==1.5.3
# plone.app.testing==6.1.3
# plone.app.upgrade==2.0.31
# plone.memoize==2.0.1
# plone.recipe.zope2instance==6.5.1
# plone.schemaeditor==2.1.0
# plone.supermodel==1.5.0
# pyScss==1.3.5
# venusianconfiguration==1.1.1
# zest.releaser==6.19.1
# zope.container==4.2.2
# zope.i18nmessageid==4.3.1
# zope.pagetemplate==4.4.1
# zope.publisher==5.1.1
# zope.tales==5.0.1
# zope.testrunner==5.0
# zope.traversing==4.3.1
six = 1.14.0

# Required by:
# collective.flow==1.8.2.dev0
venusianconfiguration = 1.1.1

# Required by:
# prompt-toolkit==1.0.18
wcwidth = 0.1.9
