// This file is in LESS to work with Plone Resource Registry
.portaltype-flowschema.template-view,
.portaltype-flowsubmission.template-view {
  .multi-widget {
    * {
      display: inline;
    }
    .required {
      display: none;
    }
    .row {
      margin: 0;
    }
  }
  .multi-widget .row:first-child {
    .object-widget {
      padding-top: 2em;
      .label {
        display: block;
        margin-top: -1.75em;
        width: 0;
        overflow: visible;
        white-space: nowrap;
      }
    }
  }
  .object-widget {
    display: flex;
    .label {
      display: none;
    }
    .widget {
      flex-grow: 1;
      flex-basis: 1%;
    }
  }
}

.portaltype-flowfolder.template-view,
.portaltype-flowsubfolder.template-view,
.portaltype-flowschema.template-edit,
.portaltype-flowsubmission.template-edit {
  .multi-widget-field, .object-widget {
    & > * {
      float: left;
    }
    &:after {
      display: block;
      clear: both;
      content: "";
    }
  }
  .multi-widget-field {
    margin-bottom: 0;
    & > label, & > input {
      margin-right: 1em;
      & > .required {
        display: none;
      }
    }
  }
  .object-widget-field {
    margin-right: 1ex;
  }
  .multi-widget .formControls {
    margin: 0;
    padding: 0 0 0 4em;
    border: 0;
    text-align: left;
    background: transparent;
    box-shadow: none;
  }
}

ul.workflow-metromap {
  padding: 0;
  list-style: none;

  li {
    float: left;
    color: black;
    position: relative;
    margin-right: 3em;
    text-align: center;
    min-height: 50px;
  }

  li > * {
    float: left;
  }

  li > * + * {
    margin-left: 1ex;
  }

  li > span {
    margin-top: 5px;
  }

  li:last-child {
    margin-right: 0;
  }

  li.active {
    font-weight: bold;
  }

  li.in-future span {
    opacity: 0.333;
    min-height: 2em;
  }

  li:after {
    content: ' \21E8 ';
    font-weight: normal;
    position: absolute;
    top: 5px;
    right: -2em;
    color: black;
  }

  li:last-child:after {
    display: none;
  }

  li form + span {
    display: block;
    white-space: nowrap;
    overflow: visible;
  }

  li form input {
    display: block;
    min-width: 100%;
  }
}

a.toggle-discussion-link, a.toggle-field-history-link {
  &[aria-controls]:before{
    display: inline-block;
    content: ">";
    margin-right: 1ex;
    font-weight: bold;
    transition: transform 0.1s linear;
  }
  &[aria-expanded="true"]:before{
    transform: rotate(90deg);
  }
}

.portaltype-flowfolder,
.portaltype-flowsubfolder,
.portaltype-flowschema,
.portaltype-flowsubmission
{
  #content-core > .form > form,
  #content-core > form, #content-core > .field {
    .option label {
      display: block;
      position: relative;
      margin-left: 3.25ex;
      input.radio-widget {
        position: absolute;
        left: -3.25ex;
        margin-top: 0;
      }
    }
    .option {
      .single-checkbox-widget + label {
        display: inline;
        margin-left: 0;
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    clear: left;
  }

  #content-core {
    fieldset legend a,
    a.toggle-field-history-link,
    a.toggle-discussion-link,
    .reply a {
      border-bottom: none;
    }
  }

  a.toggle-field-history-link,
  a.toggle-discussion-link {
    font-size: 0.75em;
  }

  a.toggle-field-history-link {
    font-size: 0.75em;
  }

  a.toggle-discussion-link {
    font-size: 0.75em;
  }

  form a.toggle-discussion-link {
    margin-top: 0;
    font-size: 0.75em;
  }

  .field-history td {
    padding: 1ex;
    &:first-child {
      font-size: 12px;
    }
  }

  .discussion td.commentByLine {
    padding: 1ex;
    font-size: 1em;
  }

  .discussion td.commentBody {
    padding: 1ex;
    font-size: 1em;
    border: 0;
  }

  .field .reply {
    > a {
      font-size: 0.75em;
    }
  }

  .main .field .discussion + .reply {
    margin-top: 0;
  }
}
