.portaltype-flowschema.template-view .multi-widget *,
.portaltype-flowsubmission.template-view .multi-widget * {
  display: inline;
}
.portaltype-flowschema.template-view .multi-widget .required,
.portaltype-flowsubmission.template-view .multi-widget .required {
  display: none;
}
.portaltype-flowschema.template-view .multi-widget .row,
.portaltype-flowsubmission.template-view .multi-widget .row {
  margin: 0;
}
.portaltype-flowschema.template-view .multi-widget .row:first-child .object-widget,
.portaltype-flowsubmission.template-view .multi-widget .row:first-child .object-widget {
  padding-top: 2em;
}
.portaltype-flowschema.template-view .multi-widget .row:first-child .object-widget .label,
.portaltype-flowsubmission.template-view .multi-widget .row:first-child .object-widget .label {
  display: block;
  margin-top: -1.75em;
  width: 0;
  overflow: visible;
  white-space: nowrap;
}
.portaltype-flowschema.template-view .object-widget,
.portaltype-flowsubmission.template-view .object-widget {
  display: flex;
}
.portaltype-flowschema.template-view .object-widget .label,
.portaltype-flowsubmission.template-view .object-widget .label {
  display: none;
}
.portaltype-flowschema.template-view .object-widget .widget,
.portaltype-flowsubmission.template-view .object-widget .widget {
  flex-grow: 1;
  flex-basis: 1%;
}
.portaltype-flowfolder.template-view .multi-widget-field > *,
.portaltype-flowsubfolder.template-view .multi-widget-field > *,
.portaltype-flowschema.template-edit .multi-widget-field > *,
.portaltype-flowsubmission.template-edit .multi-widget-field > *,
.portaltype-flowfolder.template-view .object-widget > *,
.portaltype-flowsubfolder.template-view .object-widget > *,
.portaltype-flowschema.template-edit .object-widget > *,
.portaltype-flowsubmission.template-edit .object-widget > * {
  float: left;
}
.portaltype-flowfolder.template-view .multi-widget-field:after,
.portaltype-flowsubfolder.template-view .multi-widget-field:after,
.portaltype-flowschema.template-edit .multi-widget-field:after,
.portaltype-flowsubmission.template-edit .multi-widget-field:after,
.portaltype-flowfolder.template-view .object-widget:after,
.portaltype-flowsubfolder.template-view .object-widget:after,
.portaltype-flowschema.template-edit .object-widget:after,
.portaltype-flowsubmission.template-edit .object-widget:after {
  display: block;
  clear: both;
  content: "";
}
.portaltype-flowfolder.template-view .multi-widget-field,
.portaltype-flowsubfolder.template-view .multi-widget-field,
.portaltype-flowschema.template-edit .multi-widget-field,
.portaltype-flowsubmission.template-edit .multi-widget-field {
  margin-bottom: 0;
}
.portaltype-flowfolder.template-view .multi-widget-field > label,
.portaltype-flowsubfolder.template-view .multi-widget-field > label,
.portaltype-flowschema.template-edit .multi-widget-field > label,
.portaltype-flowsubmission.template-edit .multi-widget-field > label,
.portaltype-flowfolder.template-view .multi-widget-field > input,
.portaltype-flowsubfolder.template-view .multi-widget-field > input,
.portaltype-flowschema.template-edit .multi-widget-field > input,
.portaltype-flowsubmission.template-edit .multi-widget-field > input {
  margin-right: 1em;
}
.portaltype-flowfolder.template-view .multi-widget-field > label > .required,
.portaltype-flowsubfolder.template-view .multi-widget-field > label > .required,
.portaltype-flowschema.template-edit .multi-widget-field > label > .required,
.portaltype-flowsubmission.template-edit .multi-widget-field > label > .required,
.portaltype-flowfolder.template-view .multi-widget-field > input > .required,
.portaltype-flowsubfolder.template-view .multi-widget-field > input > .required,
.portaltype-flowschema.template-edit .multi-widget-field > input > .required,
.portaltype-flowsubmission.template-edit .multi-widget-field > input > .required {
  display: none;
}
.portaltype-flowfolder.template-view .object-widget-field,
.portaltype-flowsubfolder.template-view .object-widget-field,
.portaltype-flowschema.template-edit .object-widget-field,
.portaltype-flowsubmission.template-edit .object-widget-field {
  margin-right: 1ex;
}
.portaltype-flowfolder.template-view .multi-widget .formControls,
.portaltype-flowsubfolder.template-view .multi-widget .formControls,
.portaltype-flowschema.template-edit .multi-widget .formControls,
.portaltype-flowsubmission.template-edit .multi-widget .formControls {
  margin: 0;
  padding: 0 0 0 4em;
  border: 0;
  text-align: left;
  background: transparent;
  box-shadow: none;
}
ul.workflow-metromap {
  padding: 0;
  list-style: none;
}
ul.workflow-metromap li {
  float: left;
  color: black;
  position: relative;
  margin-right: 3em;
  text-align: center;
  min-height: 50px;
}
ul.workflow-metromap li > * {
  float: left;
}
ul.workflow-metromap li > * + * {
  margin-left: 1ex;
}
ul.workflow-metromap li > span {
  margin-top: 5px;
}
ul.workflow-metromap li:last-child {
  margin-right: 0;
}
ul.workflow-metromap li.active {
  font-weight: bold;
}
ul.workflow-metromap li.in-future span {
  opacity: 0.333;
  min-height: 2em;
}
ul.workflow-metromap li:after {
  content: ' \21E8 ';
  font-weight: normal;
  position: absolute;
  top: 5px;
  right: -2em;
  color: black;
}
ul.workflow-metromap li:last-child:after {
  display: none;
}
ul.workflow-metromap li form + span {
  display: block;
  white-space: nowrap;
  overflow: visible;
}
ul.workflow-metromap li form input {
  display: block;
  min-width: 100%;
}
a.toggle-discussion-link[aria-controls]:before,
a.toggle-field-history-link[aria-controls]:before {
  display: inline-block;
  content: ">";
  margin-right: 1ex;
  font-weight: bold;
  transition: transform 0.1s linear;
}
a.toggle-discussion-link[aria-expanded="true"]:before,
a.toggle-field-history-link[aria-expanded="true"]:before {
  transform: rotate(90deg);
}
.portaltype-flowfolder #content-core > .form > form .option label,
.portaltype-flowsubfolder #content-core > .form > form .option label,
.portaltype-flowschema #content-core > .form > form .option label,
.portaltype-flowsubmission #content-core > .form > form .option label,
.portaltype-flowfolder #content-core > form .option label,
.portaltype-flowsubfolder #content-core > form .option label,
.portaltype-flowschema #content-core > form .option label,
.portaltype-flowsubmission #content-core > form .option label,
.portaltype-flowfolder #content-core > .field .option label,
.portaltype-flowsubfolder #content-core > .field .option label,
.portaltype-flowschema #content-core > .field .option label,
.portaltype-flowsubmission #content-core > .field .option label {
  display: block;
  position: relative;
  margin-left: 3.25ex;
}
.portaltype-flowfolder #content-core > .form > form .option label input.radio-widget,
.portaltype-flowsubfolder #content-core > .form > form .option label input.radio-widget,
.portaltype-flowschema #content-core > .form > form .option label input.radio-widget,
.portaltype-flowsubmission #content-core > .form > form .option label input.radio-widget,
.portaltype-flowfolder #content-core > form .option label input.radio-widget,
.portaltype-flowsubfolder #content-core > form .option label input.radio-widget,
.portaltype-flowschema #content-core > form .option label input.radio-widget,
.portaltype-flowsubmission #content-core > form .option label input.radio-widget,
.portaltype-flowfolder #content-core > .field .option label input.radio-widget,
.portaltype-flowsubfolder #content-core > .field .option label input.radio-widget,
.portaltype-flowschema #content-core > .field .option label input.radio-widget,
.portaltype-flowsubmission #content-core > .field .option label input.radio-widget {
  position: absolute;
  left: -3.25ex;
  margin-top: 0;
}
.portaltype-flowfolder #content-core > .form > form .option .single-checkbox-widget + label,
.portaltype-flowsubfolder #content-core > .form > form .option .single-checkbox-widget + label,
.portaltype-flowschema #content-core > .form > form .option .single-checkbox-widget + label,
.portaltype-flowsubmission #content-core > .form > form .option .single-checkbox-widget + label,
.portaltype-flowfolder #content-core > form .option .single-checkbox-widget + label,
.portaltype-flowsubfolder #content-core > form .option .single-checkbox-widget + label,
.portaltype-flowschema #content-core > form .option .single-checkbox-widget + label,
.portaltype-flowsubmission #content-core > form .option .single-checkbox-widget + label,
.portaltype-flowfolder #content-core > .field .option .single-checkbox-widget + label,
.portaltype-flowsubfolder #content-core > .field .option .single-checkbox-widget + label,
.portaltype-flowschema #content-core > .field .option .single-checkbox-widget + label,
.portaltype-flowsubmission #content-core > .field .option .single-checkbox-widget + label {
  display: inline;
  margin-left: 0;
}
.portaltype-flowfolder h1,
.portaltype-flowsubfolder h1,
.portaltype-flowschema h1,
.portaltype-flowsubmission h1,
.portaltype-flowfolder h2,
.portaltype-flowsubfolder h2,
.portaltype-flowschema h2,
.portaltype-flowsubmission h2,
.portaltype-flowfolder h3,
.portaltype-flowsubfolder h3,
.portaltype-flowschema h3,
.portaltype-flowsubmission h3,
.portaltype-flowfolder h4,
.portaltype-flowsubfolder h4,
.portaltype-flowschema h4,
.portaltype-flowsubmission h4,
.portaltype-flowfolder h5,
.portaltype-flowsubfolder h5,
.portaltype-flowschema h5,
.portaltype-flowsubmission h5,
.portaltype-flowfolder h6,
.portaltype-flowsubfolder h6,
.portaltype-flowschema h6,
.portaltype-flowsubmission h6 {
  clear: left;
}
.portaltype-flowfolder #content-core fieldset legend a,
.portaltype-flowsubfolder #content-core fieldset legend a,
.portaltype-flowschema #content-core fieldset legend a,
.portaltype-flowsubmission #content-core fieldset legend a,
.portaltype-flowfolder #content-core a.toggle-field-history-link,
.portaltype-flowsubfolder #content-core a.toggle-field-history-link,
.portaltype-flowschema #content-core a.toggle-field-history-link,
.portaltype-flowsubmission #content-core a.toggle-field-history-link,
.portaltype-flowfolder #content-core a.toggle-discussion-link,
.portaltype-flowsubfolder #content-core a.toggle-discussion-link,
.portaltype-flowschema #content-core a.toggle-discussion-link,
.portaltype-flowsubmission #content-core a.toggle-discussion-link,
.portaltype-flowfolder #content-core .reply a,
.portaltype-flowsubfolder #content-core .reply a,
.portaltype-flowschema #content-core .reply a,
.portaltype-flowsubmission #content-core .reply a {
  border-bottom: none;
}
.portaltype-flowfolder a.toggle-field-history-link,
.portaltype-flowsubfolder a.toggle-field-history-link,
.portaltype-flowschema a.toggle-field-history-link,
.portaltype-flowsubmission a.toggle-field-history-link,
.portaltype-flowfolder a.toggle-discussion-link,
.portaltype-flowsubfolder a.toggle-discussion-link,
.portaltype-flowschema a.toggle-discussion-link,
.portaltype-flowsubmission a.toggle-discussion-link {
  font-size: 0.75em;
}
.portaltype-flowfolder a.toggle-field-history-link,
.portaltype-flowsubfolder a.toggle-field-history-link,
.portaltype-flowschema a.toggle-field-history-link,
.portaltype-flowsubmission a.toggle-field-history-link {
  font-size: 0.75em;
}
.portaltype-flowfolder a.toggle-discussion-link,
.portaltype-flowsubfolder a.toggle-discussion-link,
.portaltype-flowschema a.toggle-discussion-link,
.portaltype-flowsubmission a.toggle-discussion-link {
  font-size: 0.75em;
}
.portaltype-flowfolder form a.toggle-discussion-link,
.portaltype-flowsubfolder form a.toggle-discussion-link,
.portaltype-flowschema form a.toggle-discussion-link,
.portaltype-flowsubmission form a.toggle-discussion-link {
  margin-top: 0;
  font-size: 0.75em;
}
.portaltype-flowfolder .field-history td,
.portaltype-flowsubfolder .field-history td,
.portaltype-flowschema .field-history td,
.portaltype-flowsubmission .field-history td {
  padding: 1ex;
}
.portaltype-flowfolder .field-history td:first-child,
.portaltype-flowsubfolder .field-history td:first-child,
.portaltype-flowschema .field-history td:first-child,
.portaltype-flowsubmission .field-history td:first-child {
  font-size: 12px;
}
.portaltype-flowfolder .discussion td.commentByLine,
.portaltype-flowsubfolder .discussion td.commentByLine,
.portaltype-flowschema .discussion td.commentByLine,
.portaltype-flowsubmission .discussion td.commentByLine {
  padding: 1ex;
  font-size: 1em;
}
.portaltype-flowfolder .discussion td.commentBody,
.portaltype-flowsubfolder .discussion td.commentBody,
.portaltype-flowschema .discussion td.commentBody,
.portaltype-flowsubmission .discussion td.commentBody {
  padding: 1ex;
  font-size: 1em;
  border: 0;
}
.portaltype-flowfolder .field .reply > a,
.portaltype-flowsubfolder .field .reply > a,
.portaltype-flowschema .field .reply > a,
.portaltype-flowsubmission .field .reply > a {
  font-size: 0.75em;
}
.portaltype-flowfolder .main .field .discussion + .reply,
.portaltype-flowsubfolder .main .field .discussion + .reply,
.portaltype-flowschema .main .field .discussion + .reply,
.portaltype-flowsubmission .main .field .discussion + .reply {
  margin-top: 0;
}
